@charset "UTF-8";

:root {
    --cor-bg: rgba(255, 0, 0, 0.75), rgba(255, 166, 0, 0.75), rgba(255, 255, 0, 0.75), rgba(0, 128, 0, 0.75), rgba(0, 0, 255, 0.75), rgba(128, 0, 128, 0.75);
    --cor-bg-transparente: rgba(255, 0, 0, 0.25), rgba(255, 166, 0, 0.25), rgba(255, 255, 0, 0.25), rgba(0, 128, 0, 0.25), rgba(0, 0, 255, 0.25), rgba(128, 0, 128, 0.25);
    --cor-principal: rgb(51, 51, 51);
    --cor-titulo: orange;
    --cor-subtitulo: crimson;
}
body {
    background-image: linear-gradient(to bottom, var(--cor-bg));
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h1 {
    color: var(--cor-titulo);
    margin-bottom: 8px;
    padding-bottom: 12px;
    border-bottom: 1px solid white;
}
h2 {
    color: var(--cor-subtitulo);
    font-size: large;
    margin-top: 6px;
    text-align: center;
}
h1, h2 {
    text-shadow: 5px 4px 5px black;
}
p {
    text-align: justify;
    text-indent: 16px;
}
a {
    text-decoration: none;
    color: rgb(124, 207, 124);
}
a:hover {
    text-decoration: underline;
}

main {
    background-color: var(--cor-principal);
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0 32px;
}
section#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#inicio sub {
    color: gray;
}
section#inicio ol {
    margin-top: 0;
    padding-top: 18px;
    border-top: 1px solid white;
}
section#cantor-favorito {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#cantor-favorito li {
    margin: 5px 0;
}
section#cantor-favorito audio {
    vertical-align: middle;
    max-height: 40px;
    max-width: 350px;
}
section#nossos-momentos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.final {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.final div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.final div {
    padding: 4px 32px;
    background-image: linear-gradient(to right, var(--cor-bg-transparente));
    border-radius: 20px;
}
section.final div h3 {
    text-shadow: -1px 1px 12px black;
}
section.final div p {
    margin-top: 0;
    text-shadow: -1px 1px 12px black;
}
section.final div p.assinatura {
    margin-top: 0;
    text-align: center;
}

div.video {
    background-color: rgb(30, 30, 30);
    margin: 12px -32px;
    position: relative;
    padding-bottom: 64%;
}
div.video iframe, div.video video {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}
video, img, iframe {
    border-radius: 25px;
}
img {
    max-width: 325px;
}