@charset "UTF-8";

body {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.75), rgba(255, 166, 0, 0.75), rgba(255, 255, 0, 0.75), rgba(0, 128, 0, 0.75), rgba(0, 0, 255, 0.75), rgba(128, 0, 128, 0.75));
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 80px 50px 80px;
}
main {
    margin: auto;
    background-color: rgb(51, 51, 51);
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}
h1 {
    margin-bottom: 0px;
    margin-top: 0px;
}
h1, h2 {
    text-align: center;
    color: orange;
    text-shadow: 5px 8px 7px rgb(19, 19, 19);
}
.subtitle {
    text-align: center;
    font-size: medium;
    color: crimson;
}
a {
    color: cadetblue;
}
audio {
    vertical-align: middle;
    height: 40px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}
p {
    text-align: center;
}
img, video, iframe {
    border-radius: 25px;
    width: 300px;
}
ol li{
    margin-top: 10px;
}
div.final {
    margin: auto;
    padding: 1px 10px;
    border-radius: 20px;
    background-color: darkslategray;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.25), rgba(255, 166, 0, 0.25), rgba(255, 255, 0, 0.25), rgba(0, 128, 0, 0.25), rgba(0, 0, 255, 0.25), rgba(128, 0, 128, 0.25));
}
p.final {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow:
                -1px -1px 0px black, 
                -1px 1px 0px black,                    
                1px -1px 0px black,                  
                1px 0px 0px black;
}
h3 {
    text-align: center;
    font-size: larger;
    color: crimson;
    text-shadow:
                -1px -1px 0px black, 
                -1px 1px 0px black,                    
                1px -1px 0px black,                  
                1px 0px 0px black;
}
a.final {
    color: orange;
    font-size: medium;
}